@{
    ViewBag.Title = "Početna stranica";
}

<div class="jumbotron">
    <h1 class="display-3">Preporučujemo vam jela iz restorana!</h1>
    <p class="lead">Aplikacija vam nasumično preporučuje jela sa restorana.</p>
    <p class="lead">
        <button class="btn btn-outline-info" role="button">@Html.ActionLink("Predloži", "Index", "Predlozi")</button>
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Restorani</h2>
        <p>
            Možete pregledati dostupne restorane i dodati nove.
        </p>
        <button class="btn btn-outline-info">@Html.ActionLink("Restorani", "Index", "Restorani")</button>
    </div>
    <div class="col-md-6">
        <h2>Jela</h2>
        <p>Možete pregledati dostupna jela te dodati nova jela za određeni restoran.</p>
        <button class="btn btn-outline-info">@Html.ActionLink("Jela", "Index", "Jeloes")</button>
    </div>
</div>